@use "variables" as v;


.title-context {
    font-family: "matura", sans-serif;
    font-weight: lighter;
    padding-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    @media (min-width: 1115px) {
        background-color: hsl(207deg, 100%, 98%);
        padding-top: 60px;
    }
}
.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 2rem 0;
    @media (min-width: 1115px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        padding: 2rem 6rem;
        
    }
}
.content-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1115px) {
        background-color: hsl(207deg, 100%, 98%);
        padding: 20px 0px 100px 0px;
    }
}

.card {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    display: flex;
    flex-direction: row;
    height: 180px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 30px;
    background-color: v.$White;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
    @media (min-width: 1115px) {
        min-width: auto;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 450px;
        overflow: hidden;
        border-radius: 18px;
    }
    &__image {
        height: 180px;
        width: 120px;
        object-fit: contain;
        @media (min-width: 1115px) {
            width: 250px;
            height: 250px;
            object-fit: contain;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 180px;
        @media (min-width: 1115px) {
            border-top: 1px solid grey;
            width: 250px;
            height: 200px;
        }
        &--category {
            color: hsl(224, 93%, 68%);
            width: 200px;
            font-size: small;
            padding: 15px 10px 5px 10px;
            @media (min-width: 1115px) {
                width: 250px;
                padding: 15px 10px 5px 10px;
            }
        }
        &--title {
            display: flex;
            justify-content: space-between;
            width: 200px;
            @media (min-width: 1115px) {
                width: 250px;
                display: flex;
                justify-content: space-between;
            }
            
            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: large;
                text-transform: uppercase;
                 @media (min-width: 1115px) {
                    width: 250px;
                    height: 270px;
                }
                &:hover {
                    color: v.$Bright-Blue-hover;
                }
            }
        }
        
        &--link {
            width: 180px;
            font-size: 21px;
            margin-left: 10px;
            color: black;
            
        }
        &--price {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            color: blue;
            font-size: large;
            @media (min-width: 1115px) {
                padding-right: 20px;
            }
        }
        &--info {
            font-size: medium;
            padding: 5px 10px;
            max-height: 60px;
            width: 200px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @media (min-width: 1115px) {
                width: 250px;
                height: 65px;
                padding-top: 10px;
                max-height: none;
                overflow: hidden;
                -webkit-line-clamp: 3;
                max-height: none;
            }
        }
    }
}

.card_button {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    width: 200px;
    a {
        text-decoration: none;
    }
    @media (min-width: 1115px) {
        width: 250px;
        padding-top: 10px;
    }
    &--comprar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$Bright-Blue-hover;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        border: none;
        color: white;
        font-size: 0.9em;
        font-weight: 700;
        
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}
