@use "variables" as v;
@use "mixins";

.gallery {
    background-color: hsl(207deg, 100%, 98%);

    &__image-container {
        background-color: hsl(0, 0%, 100%);
        height: 300px;
        width: 100%;
        background-image: url("../assets/images/image-product-1.jpg");
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-width: 1115px) {
            border: none;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.6);
        }
    }
    &__previus {
        @include mixins.image-btn(120px, 15px, false);
    }
    &__next {
        @include mixins.image-btn(120px, 320px, false);
    }
    &__thumbnails {
        display: none;
        @media (min-width: 1115px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__thumbnail {
        background-color: hsl(0, 0%, 100%);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);

        object-fit: contain;
        object-position: top;
        width: 100px;
        height: 100px;
        border-radius: 16px;
        &:hover {
            cursor: pointer;
            border: 3px solid v.$Bright-Blue-hover;
        }
    }
    @media (min-width: 1115px) {
        width: 446px;
        &__image-container {
            background-position-y: 0;
            border-radius: 16px;
            height: 446px;
            margin-bottom: 60px;
        }
    }
}
