@charset "UTF-8";
.title-context {
  font-family: "matura", sans-serif;
  font-weight: lighter;
  padding-top: 40px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}
@media (min-width: 1115px) {
  .title-context {
    background-color: hsl(207, 100%, 98%);
    padding-top: 60px;
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 2rem 0;
}
@media (min-width: 1115px) {
  .card__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 2rem 6rem;
  }
}

.content-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1115px) {
  .content-cards {
    background-color: hsl(207, 100%, 98%);
    padding: 20px 0px 100px 0px;
  }
}

.card {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: row;
  height: 180px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 30px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
}
@media (min-width: 1115px) {
  .card {
    min-width: auto;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    overflow: hidden;
    border-radius: 18px;
  }
}
.card__image {
  height: 180px;
  width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1115px) {
  .card__image {
    width: 250px;
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.card__description {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 180px;
}
@media (min-width: 1115px) {
  .card__description {
    border-top: 1px solid grey;
    width: 250px;
    height: 200px;
  }
}
.card__description--category {
  color: hsl(224, 93%, 68%);
  width: 200px;
  font-size: small;
  padding: 15px 10px 5px 10px;
}
@media (min-width: 1115px) {
  .card__description--category {
    width: 250px;
    padding: 15px 10px 5px 10px;
  }
}
.card__description--title {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
@media (min-width: 1115px) {
  .card__description--title {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
}
.card__description--title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}
@media (min-width: 1115px) {
  .card__description--title a {
    width: 250px;
    height: 270px;
  }
}
.card__description--title a:hover {
  color: hsl(224, 93%, 68%);
}
.card__description--link {
  width: 180px;
  font-size: 21px;
  margin-left: 10px;
  color: black;
}
.card__description--price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  color: blue;
  font-size: large;
}
@media (min-width: 1115px) {
  .card__description--price {
    padding-right: 20px;
  }
}
.card__description--info {
  font-size: medium;
  padding: 5px 10px;
  max-height: 60px;
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media (min-width: 1115px) {
  .card__description--info {
    width: 250px;
    height: 65px;
    padding-top: 10px;
    max-height: none;
    overflow: hidden;
    -webkit-line-clamp: 3;
    max-height: none;
  }
}

.card_button {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 200px;
}
.card_button a {
  text-decoration: none;
}
@media (min-width: 1115px) {
  .card_button {
    width: 250px;
    padding-top: 10px;
  }
}
.card_button--comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(224, 93%, 68%);
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}
.card_button--comprar:hover {
  cursor: pointer;
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px 0% 20px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 1115px) {
  .header {
    align-items: flex-end;
    padding-bottom: 12px;
    height: 75px;
  }
}
.header__navigation {
  margin-bottom: 10px;
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-family: "matura", sans-serif;
}
.header__navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 600px;
    justify-content: flex-start;
  }
  .header__navigation__menu {
    margin-top: 15px;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__menu {
    display: none;
  }
}
.header__logo {
  max-width: 100px;
  padding-top: 10px;
  display: none;
}
.header__logo p {
  font-family: "matura", sans-serif;
  font-weight: bold;
  font-size: large;
  width: 120px;
}
@media (min-width: 1115px) {
  .header__logo p {
    font-size: x-large;
  }
}
@media (min-width: 1115px) {
  .header__logo {
    display: block;
    max-width: 180px;
    margin-top: 10px;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  gap: 28px;
  margin-bottom: 10px;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 150px;
    gap: 20px;
  }
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__search--input {
  position: absolute;
  right: -26px;
  top: -12px;
  width: 0;
  max-width: 130px;
  height: 24px;
  padding: 0 30px 0 10px;
  font-size: 12px;
  color: #222;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  opacity: 0;
  display: none;
}
@media (min-width: 1115px) {
  .header__search--input {
    max-width: 150px;
    font-size: 14px;
  }
}
.header__search--btn {
  position: absolute;
  top: -12px;
  left: 2px;
  width: 24px;
  height: 24px;
  line-height: 0px;
  background: white;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid silver;
  padding: 0;
  background-image: url("../assets/images/icon-glass.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}
.header__search--btn:hover {
  background-image: url("../assets/images/icon-glass-blue.svg");
  border: 1px solid hsl(224, 93%, 68%);
}
.header__cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 14px;
}
.header__cart img {
  width: 20px;
  height: 20px;
}
.header__cart--notification {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(224, 93%, 68%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header__cart:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__cart img {
    width: 22px;
    height: 22px;
  }
}
.header__avatar {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
}
.header__avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.header__avatar:hover {
  border: 2px solid hsl(224, 93%, 68%);
}

.navbar {
  display: none;
  width: 400px;
}
.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .navbar__items {
    padding-left: 20px;
  }
}
.navbar__items a {
  position: relative;
  letter-spacing: 0.5px;
}
.navbar__items a:after {
  content: "";
  position: absolute;
  background-color: hsl(224, 93%, 68%);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}
.navbar__items a:hover {
  color: hsl(0, 0%, 0%);
}
.navbar__items a:hover:after {
  width: 100%;
}
.navbar__link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  display: block;
  height: 72px;
  padding-top: 36px;
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar {
  width: 550px;
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 100%;
  padding: 20px;
}
.modal-navbar__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  list-style: none;
  margin-top: 40px;
}
.modal-navbar__items a {
  position: relative;
  letter-spacing: 0.5px;
}
.modal-navbar__items a:hover {
  color: hsl(224, 93%, 68%);
}
.modal-navbar__link {
  font-family: "matura", sans-serif;
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
  font-weight: lighter;
}
.modal-navbar__close-container {
  text-align: right;
}
.modal-navbar__close-icon {
  cursor: pointer;
}
.modal-navbar__close-icon:hover {
  content: url("../assets/images/icon-close-blue.svg");
}
.modal-navbar__logo {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.modal-navbar__logo p {
  font-family: "matura", sans-serif;
  font-weight: bold;
  font-size: large;
  width: 120px;
}
@media (min-width: 1115px) {
  .modal-navbar__logo p {
    font-size: x-large;
  }
}

.gallery {
  background-color: white;
  width: 320px;
}
.gallery__image-container {
  background-color: hsl(0, 0%, 100%);
  height: 300px;
  width: 320px;
  background-image: url("../assets/images/image-product-1.jpg");
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 1115px) {
  .gallery__image-container {
    width: 446px;
    border: none;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.6);
  }
}
.gallery__previus {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 15px;
}
.gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__previus {
    display: none;
  }
}
.gallery__next {
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 270px;
}
.gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__next {
    display: none;
  }
}
.gallery__thumbnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__thumbnails {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}
.gallery__thumbnail {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  width: 100px;
  height: 100px;
  border-radius: 16px;
}
.gallery__thumbnail:hover {
  cursor: pointer;
  border: 3px solid hsl(224, 93%, 68%);
}
@media (min-width: 1115px) {
  .gallery {
    width: 446px;
    padding-top: 120px;
    background-color: hsl(207, 100%, 98%);
  }
  .gallery__image-container {
    background-position-y: 0;
    border-radius: 16px;
    height: 446px;
    margin-bottom: 60px;
  }
}

.product-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "kalam", sans-serif;
  position: relative;
}
@media (min-width: 1115px) {
  .product-container {
    width: 100%;
    background-color: hsl(207, 100%, 98%);
    min-height: 900px;
  }
}

.content-product {
  background-color: hsl(207, 100%, 98%);
}
@media (min-width: 1115px) {
  .content-product {
    padding: 120px 50px 170px 50px;
  }
}

.details {
  width: 320px;
  padding: 24px;
}
.details__category {
  color: hsl(219, 9%, 45%);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.details__title {
  font-size: 1.7em;
  margin-bottom: 16px;
  color: hsl(243, 86%, 20%);
}
.details__description {
  font-size: 0.94em;
  color: hsl(0, 0%, 0%);
  line-height: 24px;
  margin-bottom: 24px;
  text-wrap: pretty;
}
.details__price {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}
.details__price p {
  justify-content: end;
  font-weight: bold;
  font-size: x-large;
}
.details__product-quantity {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.details__button {
  background-color: hsl(224, 93%, 68%);
  width: 200px;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (min-width: 1115px) {
  .details {
    width: 446px;
    padding-top: 20px;
    padding-top: 160px;
  }
  .details__title {
    font-size: 2.2em;
    margin-bottom: 30px;
  }
  .details__description {
    font-size: 0.9em;
    margin-bottom: 30px;
  }
  .details__price {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
  }
}

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
}
.input__minus {
  width: 25px;
  height: 100%;
  padding: 24px 5px;
}
.input__minus:hover {
  cursor: pointer;
}
.input__number {
  width: 100%;
  border: none;
  background-color: hsl(223, 64%, 98%);
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  outline: none;
}
.input__plus {
  width: 25px;
  height: 100%;
  padding: 19px 3px;
}
.input__plus:hover {
  cursor: pointer;
}

.cart-modal {
  display: none;
  width: 320px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 100%);
}
.cart-modal__title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.cart-modal__checkout-container {
  padding: 24px;
}
.cart-modal__details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  color: hsl(219, 9%, 45%);
}
.cart-modal__image {
  width: 50px;
  border-radius: 4px;
}
.cart-modal__price span {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.cart-modal__delete:hover {
  cursor: pointer;
}
.cart-modal__checkout {
  background-color: hsl(224, 93%, 68%);
  width: 200px;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cart-modal__checkout:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-login {
  background-color: white;
  width: 320px;
  height: 370px;
  padding: 20px;
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 10px;
}
.modal-login h2 {
  text-align: center;
  margin-bottom: 0px;
  color: #333;
  font-family: "matura", sans-serif;
  font-size: large;
  font-weight: lighter;
}
.modal-login__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.modal-login__close-container {
  text-align: right;
}
.modal-login__close-icon {
  cursor: pointer;
}
.modal-login__close-icon:hover {
  content: url("../assets/images/icon-close-blue.svg");
}
.modal-login .login-box {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.modal-login .login-box .user-box {
  position: relative;
  margin-bottom: 30px;
  font-family: "kalam", sans-serif;
  font-weight: bold;
}
.modal-login .login-box .user-box input {
  width: 100%;
  padding: 20px 0 10px 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: transparent;
  transition: border-bottom-color 0.3s;
}
.modal-login .login-box .user-box input:focus {
  border-bottom-color: #333;
}
.modal-login .login-box .user-box label {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: top 0.3s ease-out, font-size 0.3s ease-out, color 0.3s ease-out;
}
.modal-login .login-box .user-box input:focus + label,
.modal-login .login-box .user-box input:valid + label {
  top: 0;
  font-size: 12px;
  color: hsl(224, 93%, 68%);
}
.modal-login .login-box .user-button {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "kalam", sans-serif;
}
.modal-login .login-box .user-button button {
  background-color: hsl(224, 93%, 68%);
  width: 200px;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100px;
  height: 40px;
}
.modal-login .login-box .user-button button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
}

.history {
  background-color: hsl(207, 100%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}
@media (min-width: 1115px) {
  .history {
    justify-content: space-around;
    height: 800px;
    width: 100%;
  }
}
.history__image img {
  width: 246px;
  margin-bottom: 78px;
}
@media (min-width: 1115px) {
  .history__image img {
    width: 527px;
    margin-bottom: 0;
  }
}
@media (min-width: 1115px) {
  .history__image {
    width: 527px;
    margin-bottom: 78px;
  }
}
.history__description--title {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 1115px) {
  .history__description--title {
    font-size: 2.3em;
    text-align: left;
    margin-bottom: 12px;
  }
}
.history__description--content {
  text-align: center;
  font-size: 0.9em;
  width: 320px;
}
@media (min-width: 1115px) {
  .history__description--content {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}
@media (min-width: 1115px) {
  .history {
    flex-direction: row-reverse;
  }
}
.history__description--title {
  font-family: "matura", sans-serif;
  font-weight: lighter;
}
.history__description--content {
  padding: 0 20px;
}

.mission {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}
@media (min-width: 1115px) {
  .mission {
    justify-content: space-around;
    height: 800px;
    width: 100%;
  }
}
.mission__image img {
  width: 246px;
  margin-bottom: 78px;
}
@media (min-width: 1115px) {
  .mission__image img {
    width: 527px;
    margin-bottom: 0;
  }
}
@media (min-width: 1115px) {
  .mission__image {
    width: 527px;
    margin-bottom: 78px;
  }
}
.mission__description--title {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 1115px) {
  .mission__description--title {
    font-size: 2.3em;
    text-align: left;
    margin-bottom: 12px;
  }
}
.mission__description--content {
  text-align: center;
  font-size: 0.9em;
  width: 320px;
}
@media (min-width: 1115px) {
  .mission__description--content {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}
@media (min-width: 1115px) {
  .mission {
    flex-direction: row;
  }
}
.mission__description--title {
  font-family: "matura", sans-serif;
  font-weight: lighter;
}
.mission__description--content {
  padding: 0 20px;
}

.comunity {
  background-color: hsl(207, 100%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}
@media (min-width: 1115px) {
  .comunity {
    justify-content: space-around;
    height: 800px;
    width: 100%;
  }
}
.comunity__image img {
  width: 246px;
  margin-bottom: 78px;
}
@media (min-width: 1115px) {
  .comunity__image img {
    width: 527px;
    margin-bottom: 0;
  }
}
@media (min-width: 1115px) {
  .comunity__image {
    width: 527px;
    margin-bottom: 78px;
  }
}
.comunity__description--title {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
@media (min-width: 1115px) {
  .comunity__description--title {
    font-size: 2.3em;
    text-align: left;
    margin-bottom: 12px;
  }
}
.comunity__description--content {
  text-align: center;
  font-size: 0.9em;
  width: 320px;
}
@media (min-width: 1115px) {
  .comunity__description--content {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}
@media (min-width: 1115px) {
  .comunity {
    flex-direction: row-reverse;
  }
}
.comunity__description--title {
  font-family: "matura", sans-serif;
  font-weight: lighter;
}
.comunity__description--content {
  padding: 0 20px;
}

/* Sección de enlace al cátalogo */
.visit {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding: 120px 0;
}
.visit--title {
  font-family: "matura", sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}
.visit a {
  text-decoration: none;
}
.visit--button {
  margin: 0 auto;
}
.visit--button button {
  background-color: hsl(224, 93%, 68%);
  width: 200px;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.visit--button button:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Equipo de trabajo */
.team {
  background-color: hsl(207, 100%, 98%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 800px;
  padding: 120px 0;
}
.team__title {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: "matura", sans-serif;
  font-weight: lighter;
}
@media (min-width: 1115px) {
  .team__title {
    margin-bottom: 100px;
  }
}
.team__members {
  display: grid;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}
@media (min-width: 1115px) {
  .team__members {
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
.team__members__member {
  margin-bottom: 0px;
  width: 100%;
  margin-bottom: 30px;
}
.team__members__member--photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__members__member--name {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  margin-bottom: 8px;
}
.team__members__member--position {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  color: #777;
}

.form-title {
  padding-top: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "kalam", sans-serif;
  margin: auto;
  position: relative;
  background-color: white;
  padding-bottom: 100px;
}
@media (min-width: 1115px) {
  .form-container {
    background-color: hsl(207, 100%, 98%);
  }
}

.content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  padding-bottom: 100px;
  margin-top: 40px;
}
@media (min-width: 1115px) {
  .content-form {
    padding-bottom: 120px;
    padding-right: 200px;
    margin-top: 40px;
    align-self: center;
  }
}

.contact {
  max-width: 320px;
}
@media (min-width: 1115px) {
  .contact {
    max-width: 250px;
  }
}

.upload {
  max-width: 320px;
}
@media (min-width: 1115px) {
  .upload {
    max-width: 900px;
  }
}

.formpages-contact {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 10px 40px 20px 40px;
  box-sizing: border-box;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.formpages-upload {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 10px 40px 20px 40px;
  box-sizing: border-box;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
@media (min-width: 1115px) {
  .formpages-upload {
    width: 200%;
    padding: 10px 40px 20px 80px;
  }
}

.column {
  width: 48%;
  float: left;
  margin-right: 2%;
}
@media (max-width: 1115px) {
  .column {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
.column__form-group {
  margin-bottom: 20px;
}
.column__form-group:first-child {
  margin-top: 30px;
}
.column__form-group .contact {
  width: 100%;
}
.column__form-group .upload {
  width: 100%;
}
@media (min-width: 1115px) {
  .column__form-group .upload {
    width: 90%;
  }
}
.column__form-group .form-control {
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease;
}
.column__form-group .form-control:focus {
  outline: none;
  border-color: #5cacee;
  box-shadow: 0 0 5px #5cacee;
}
.column__form-group .form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.column__form-group .checkbox-envio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 40px;
}
.column__form-group .label-required::after {
  content: "(*)";
  color: rgb(182, 17, 17);
  margin-left: 0.5rem;
}
.column__form-group .form-control[aria-invalid=true] {
  outline: 2px solid rgb(182, 17, 17);
}
.column__form-group .input-msg-error {
  display: none;
  color: rgb(182, 17, 17);
}
.column__form-group textarea {
  resize: vertical;
}

button {
  background-color: hsl(224, 93%, 68%);
  width: 200px;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  width: 100%;
  margin: 0 auto;
  gap: 5px;
  background: linear-gradient(to right, hsl(243, 86%, 20%), hsl(224, 93%, 68%));
  padding: 30px 20px 10px 20px;
}
@media (min-width: 1115px) {
  .footer {
    gap: 20px;
    padding: 30px 30px 10px 30px;
  }
}
.footer__navigation {
  display: block;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 30px;
  align-items: center;
  font-size: small;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
@media (min-width: 1115px) {
  .footer__navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: center;
    font-size: small;
  }
}
.footer__navigation .link-Navigation {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.footer__navigation .link-Navigation a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1115px) {
  .footer__navigation .link-Navigation {
    display: flex;
    gap: 100px;
  }
  .footer__navigation .link-Navigation a {
    text-decoration: none;
    color: white;
  }
}
.footer__navigation .link-Navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}
@media (min-width: 1115px) {
  .footer__navigation .link-Navigation ul {
    margin-bottom: 1px;
    align-self: flex-end;
    height: 140px;
  }
}
.footer__navigation .link-Navigation ul li {
  list-style: none;
}
.footer__navigation .link-Navigation ul li a {
  text-decoration: none;
  color: white;
}
.footer__navigation .link-Navigation ul li a:hover {
  cursor: pointer;
  color: hsl(224, 93%, 68%);
}
.footer__navigation .link-Navigation ul li:hover {
  cursor: pointer;
  color: hsl(224, 93%, 68%);
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
}
@media (min-width: 1115px) {
  .footer__social-media {
    height: 140px;
    align-self: flex-end;
    padding-top: 0;
    gap: 40px;
  }
}
.footer__social-media .seguinos {
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}
@media (min-width: 1115px) {
  .footer__social-media .seguinos {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.footer__social-media .social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer__social-media .icon {
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1115px) {
  .footer__social-media .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .footer__social-media .icon:hover .tooltip {
    top: -35px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .footer__social-media .icon:hover span,
  .footer__social-media .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgb(255, 255, 255);
  }
}
.footer__social-media .icon .tooltip {
  display: flex;
  flex-direction: wrap;
}
.footer__social-media .icon .social-icon {
  display: grid;
  border: 1px solid hsl(219, 9%, 45%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  place-items: center;
}
.footer__social-media .icon .social-icon:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .footer__social-media .icon .social-icon {
    border: none;
  }
  .footer__social-media .icon .social-icon:hover {
    cursor: pointer;
  }
}
.footer__social-media .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer__social-media .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer__social-media .facebook:hover {
  background: #1877f2;
  color: hsl(0, 0%, 0%);
  font-weight: lighter;
}
.footer__social-media .facebook:hover .tooltip {
  background-color: #1877f2;
  color: hsl(0, 0%, 0%);
}
.footer__social-media .facebook:hover .tooltip::before {
  background: #1877f2;
}
@media (min-width: 1115px) {
  .footer__social-media .facebook:hover {
    background: #1877f2;
    color: hsl(0, 0%, 100%);
    font-weight: lighter;
  }
  .footer__social-media .facebook:hover .tooltip {
    background-color: #1877f2;
    color: hsl(0, 0%, 100%);
  }
  .footer__social-media .facebook:hover .tooltip::before {
    background: #1877f2;
  }
}
.footer__social-media .instagram:hover {
  background: #e1306c;
  color: hsl(0, 0%, 0%);
  font-weight: lighter;
}
.footer__social-media .instagram:hover .tooltip {
  background-color: #e1306c;
  color: hsl(0, 0%, 0%);
}
.footer__social-media .instagram:hover .tooltip::before {
  background: #e1306c;
}
@media (min-width: 1115px) {
  .footer__social-media .instagram:hover {
    background: #e1306c;
    color: hsl(0, 0%, 100%);
    font-weight: lighter;
  }
  .footer__social-media .instagram:hover .tooltip {
    background-color: #e1306c;
    color: hsl(0, 0%, 100%);
  }
  .footer__social-media .instagram:hover .tooltip::before {
    background: #e1306c;
  }
}
.footer__social-media .whatsapp:hover {
  background: #25D366;
  color: hsl(0, 0%, 0%);
  font-weight: lighter;
}
.footer__social-media .whatsapp:hover .tooltip {
  background-color: #25D366;
  color: hsl(0, 0%, 0%);
}
.footer__social-media .whatsapp:hover .tooltip::before {
  background: #25D366;
}
@media (min-width: 1115px) {
  .footer__social-media .whatsapp:hover {
    background: #25D366;
    color: hsl(0, 0%, 100%);
    font-weight: lighter;
  }
  .footer__social-media .whatsapp:hover .tooltip {
    background-color: #25D366;
    color: hsl(0, 0%, 100%);
  }
  .footer__social-media .whatsapp:hover .tooltip::before {
    background: #25D366;
  }
}
.footer__social-media .youtube:hover {
  background: #ff0000;
  color: hsl(0, 0%, 0%);
  font-weight: lighter;
}
.footer__social-media .youtube:hover .tooltip {
  background-color: #ff0000;
  color: hsl(0, 0%, 0%);
}
.footer__social-media .youtube:hover .tooltip::before {
  background: #ff0000;
}
@media (min-width: 1115px) {
  .footer__social-media .youtube:hover {
    background: #ff0000;
    color: hsl(0, 0%, 100%);
    font-weight: lighter;
  }
  .footer__social-media .youtube:hover .tooltip {
    background-color: #ff0000;
    color: hsl(0, 0%, 100%);
  }
  .footer__social-media .youtube:hover .tooltip::before {
    background: #ff0000;
  }
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-size: small;
}
@media (min-width: 1115px) {
  .footer__copyright {
    padding-bottom: 0;
  }
}
.footer__copyright a {
  text-decoration: none;
  color: hsl(224, 93%, 68%);
}
.footer__copyright p {
  padding-bottom: 10px;
}

@font-face {
  font-family: "matura";
  src: url("../assets/fonts/Matura.ttf") format("truetype");
}
@font-face {
  font-family: "kalam";
  src: url("../assets/fonts//Kalam.ttf") format("truetype");
}
.main-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  font-family: "kalam", sans-serif;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 100%;
    min-height: 900px;
  }
}

.content {
  max-width: 375px;
}
@media (min-width: 1115px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 124px;
    height: 100%;
  }
}

.show {
  display: block;
}

.cart-empty {
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.5);
  text-align: center;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */